/* CSS per tutte le pagine */

.font-pattaya{
    font-family: 'Pattaya', sans-serif;
    font-size: 30px;
}

.logo-style{
    font-family: 'Pattaya', sans-serif;
}

body {
    padding-top: 56px;
  }
  